body,label {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #007BFF;
    text-align: center;
}

.main-container {
    width: calc(100% - 250px); /* Laisser de l'espace pour le menu latéral */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
}

#pokemon-selection {
    margin: 20px;
}

.pokemon-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#validate-team-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#validate-team-button:hover {
    background-color: #0056b3;
}

/* Styles pour le menu latéral */
.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: -3px 0 5px rgba(0,0,0,0.2);
}

.side-menu a,
.side-menu button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.side-menu a:hover,
.side-menu button:hover {
    color: #f1f1f1;
}

.team-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #222;
    border-radius: 5px;
}

.team-item button {
    background-color: #ff4c4c;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.team-item button:hover {
    background-color: #ff0000;
}
