<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Pokemon-Like</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="index-container">
        <h1>Bienvenue sur Pokemon-Like</h1>
        <div class="button-group">
            <button class="button" onclick="window.location.href='/create_team';">Créer ton équipe</button>
            <button class="button" onclick="window.location.href='/combat';">Lancer un combat</button>
        </div>
    </div>
</body>
</html>
