<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon-Like</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Bienvenu sur Pokemon-Like</h1>
    <a href="create_team">Créer ton équipe</a>
    <!-- <script src="js/main.js"></script> -->
</body>
</html>